@import reset.css
@import layout.css
@import animations.css

!body_color = rgb(95, 166, 68)
!body_alt_color = rgb(72, 142, 69)
!body_link_color = rgb(29, 61, 53)

!headings_color = rgb(238, 80, 35)
!link_color = rgb(17, 68, 152)

!banner_color = rgb(222, 239, 209)
!highlight_color = rgb(255, 255, 160)
!marker_color = rgb(255, 214, 20)

=right
  :clear both
  :float right
  :margin 2ex -5ex 2ex 4ex

=marker
  :padding 0.4ex
  :margin -0.4ex
  :-webkit-border-radius 0.5ex
  :-moz-border-radius 0.5ex


.right
  +right

.clear
  :clear both
  :height 0

.hide
  :display none


.highlight, .banner
  :margin 2ex -9ex !important
  :padding 1ex 9ex
.highlight
  :background-color = !highlight_color
.banner
  :background-color = !banner_color
.framed
  :background-color white
  :padding 1px
  :border 2px solid #ddd
.noframe
  :padding 3px

img
  :margin 1ex

/ blockquote
/   +right
/   :max-width 20em

em
  :font inherit
  :font-style italic

strong
  :font-weight bold
  
strong.marker
  +marker
  :background-color = !marker_color

.todo
  +marker
  :background-color = !marker_color
  :white-space pre-line



body
  :background-color = !body_color
  :margin 1em
  :font-family "Myriad Pro", Candara, HelveticaNeue, Helvetica, DejaVuSansCondensed, sans-serif


a
  :color rgb(29, 61, 53)
  :text-decoration none

  &:hover
    :text-decoration underline
    :-webkit-animation
      :name pulse
      :iteration-count infinite
      :duration 0.4s
      :timing-function linear
      :direction alternate


#container
  :background = !body_alt_color
  :padding 2ex 10ex
  :max-width 50em
  :-webkit-border-radius 1ex
  :-moz-border-radius 1ex


#main
  :color black
  :padding 2ex 9ex
  :margin 0 -9ex
  :background-color white
  :-webkit-border-radius 1ex
  :-moz-border-radius 1ex

  a
    :color rgb(17, 68, 152)

  h1, h2, h3, h4, h5, h6
    :color rgb(224, 80, 48)
    :margin 2ex 0 1ex 0
  h5, h6
    :font-style italic
  h1
    :font-size 250%
  h2
    :font-size 180%
  h3
    :font-size 130%
  h5, h6
    :display run-in
    :margin-right 1em
  p
    :margin 1ex 0 0 0
  
  ul
    :list-style disc
  ol
    :list-style decimal
  ul, ol
    :padding-left 2em
    ol
      :list-style lower-alpha


  address
    :margin 1ex 0
  blockquote, pre
    :margin 1ex 2em
    :padding 1ex
  pre
    :background-color #ddd
    :overflow-x auto
    :-webkit-border-radius 1ex
    :-moz-border-radius 1ex


#header
  :margin-bottom 1ex
  h1
    :float left
    :font-size 200%
    a
      :color black
  #tagline
    :float right
    :text-align right
    :margin-left 9ex


#menu
  :margin 0.5ex -1ex -2ex -1ex
  :padding 0

  a
    :color black
    
  ul
    :display block
    :list-style none
    :margin 0
    :padding 0

  li
    :display inline-block
    :margin 0 1ex 0 0
    :padding 0.5ex 1ex 0 1ex
    :border-bottom 1ex solid white
        
  li.webgen-menu-item-selected, li.webgen-menu-submenu-inhierarchy
    :border-color = !headings_color
    :color white


#langbar
  :margin 0.5ex -7ex -2ex 0
  :float right
  / margin: 0 -7ex 
  / text-transform: uppercase

#navigation

#pagebottom
  :text-align center
  :opacity 0.5
  :margin 0 auto
  :margin-top 1em
  / :max-width 30em
  
  &:hover
    :opacity 1
    :-webkit-transition
      :property opacity
      :duration 0.3s


/ body > *
/   :-webkit-animation
/     :name appear
/     :duration 0.5s
/     :timing-function ease

// does not look the same in Firefox
/ ul
/   :list-style disc
/   :padding-left 1.5em
/   
/   li
/     :position relative
/   
/   li:before
/     :content "• "
/     :position absolute
/     :top 0
/     :left -1em
/   
/   ul li:before
/     :content "- "
