--- name:content pipeline:blocks,erb,tags,maruku,head

# {title:}

{author:}  
<%= context.node['created_at'].strftime("%d %b %Y") %>
{: .left}

<webgen:block name="content" />

<webgen:block name="extended" node="first" notfound="ignore" />
